body{

	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	background-image:url("img/fondo.jpg");


		
}
img{
	width: 110%;
	height: 500px;
	


}

h1{
	color: #f7f200;
	text-align: center;


}

